<html>
    <head>
        <title>임재성 서버 테스트입니다.</title>
        {% load static %}
        <link href="{% static 'css/custom.css' %}" rel="stylesheet">
        <link href="{% static 'css/join.css' %}" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>

    </head>
    <body>
        <h1>회원가입</h1>

        <div id="contents">
            <br>
            <div class="img-area">
                <img id="user-profile" src="{% static 'img/profile.png' %}" width="200" height="200">
                <br>클릭하여 이미지를 올려주세요
                <input id="imgInput" name="upload_file" type="file" accept=".jpg, .jpeg, .png" hidden>
            </div>
            <br>
            <br>

            <div class="input-card">
                <label>Email</label>
                <br>
                <div class="input-area" >
                    <input id="user-email" type="text" >
                </div>
            </div>


            <div class="input-card">
                <label>Nick-Name </label>
                <br>
                <div class="input-area">
                    <input id="user-nick-name" type="text">
                </div>
            </div>
            <div class="input-card">
                <label>Password </label>
                <br>
                <div class="input-area">
                    <input id="user-password" type="password">
                </div>
            </div>
            <div class="input-card">
                <label>Password Confirm </label>
                <br>
                <div class="input-area">
                    <input id="user-password-confirm" type="password">
                </div>
            </div>

            <br>

            <div style="text-align:center; width:80%; margin:auto;">
                <table style="border:1px solid black;" id="table-certificate">
                    <thead>
                        <tr>
                            <th width="5%">No.</th>
                            <th width="29%">자격 증명</th>
                            <th width="29%">취득 일자</th>
                            <th width="29%">자격 번호</th>
                            <th width="8%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1 *</td>
                            <td>
                                <select name="certificate_name">
                                    <option disabled selected >자격증을 선택하세요.</option>
                                    <option value="0">정보처리 기사</option>
                                    <option value="1">정보처리 산업기사</option>
                                    <option value="2">DAP</option>
                                    <option value="3">SQLP</option>
                                </select>
                            </td>

                            <td>
                                <input type="date" name="acquisition_date">
                            </td>
                            <td>
                                <input type="text" name="certificate_no">
                            </td>
                            <td style="text-align:center;">
                                <button style="height:27px;  font-size:10px;">삭제</button>
                            </td>

                        </tr>

                    </tbody>
                </table>
            </div>

            <div style="text-align:center; width:80%; margin:auto;">
                <button style="width:100%;" id="table-certificate-insert"> 추가하기 </button>
            </div>

            <div class="apply-area">
                <button  id="join">가입</button>
            </div>
        </div>

        <script src="{% static 'js/cookie.js' %}"></script>
        <script src="{% static 'js/join.js' %}"></script>
    </body>s
</html>


<!--<a href="/upload_files/abc.jpg" download>-->
    <!--<button id="file_download">이미지 다운로드</button>-->
<!--</a>-->