<html>
    <head>
        <title>임재성 서버 테스트입니다.</title>
        {% load static %}
        <link href="{% static 'css/join.css' %}" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>

    </head>
    <body>
        <h1>회원가입</h1>

        <div id="contents">
            <br>
            <div class="img-area">
                <img id="user-profile" src="{% static 'img/profile.png' %}" width="200" height="200">
                <br>클릭하여 이미지를 올려주세요
                <input id="ingredient_file" name="upload_file" type="file" accept=".jpg, .jpeg, .png" hidden>
                <button  id="upload" hidden>가입</button>
            </div>
            <br>
            <br>

            <div class="input-card">
                <label>Email</label>
                <br>
                <div class="input-area" >
                    <input id="user-email" type="text" >
                </div>
            </div>


            <div class="input-card">
                <label>Nick-Name </label>
                <br>
                <div class="input-area">
                    <input id="user-nick-name" type="text">
                </div>
            </div>
            <div class="input-card">
                <label>Password </label>
                <br>
                <div class="input-area">
                    <input id="user-password" type="password">
                </div>
            </div>
            <div class="input-card">
                <label>Password Confirm </label>
                <br>
                <div class="input-area">
                    <input id="user-password-confirm" type="password">
                </div>
            </div>


            <div class="apply-area">
                <button  id="join">가입</button>
            </div>
        </div>

        <script src="{% static 'js/cookie.js' %}"></script>
        <script src="{% static 'js/join.js' %}"></script>
    </body>s
</html>


<!--<a href="/upload_files/abc.jpg" download>-->
    <!--<button id="file_download">이미지 다운로드</button>-->
<!--</a>-->