<html>
    <head>
        {% load static %}
        <title>무엇이든 물어보세요!!</title>

        <link href="{% static 'css/custom.css' %}" rel="stylesheet">
        <link href="{% static 'css/mydata.css' %}" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>

    </head>
    <body>

        <div class="header">
                <h1>
                    내정보
                </h1>
        </div>
        <div style="display:grid; grid-template-columns:20% 1fr; height:800px;">
            <div style="border:1px solid black;">

                <div class="menu-item">
                    <a href="{% url 'main' %}">
                        메인화면
                    </a>
                </div>

                <div class="menu-item">
                    <a href="{% url 'mydata' %}">
                        내정보 보기
                    </a>
                </div>

                <div class="menu-item">
                    <a href="{% url 'alltable' %}">
                        유저 리스트 & 자격증 리스트
                    </a>
                </div>
            </div>
            <div id="contents">

                <h3>
                    기본정보
                </h3>

                <div class="input-card">
                    <label></label>
                    <br>
                    <div>
                        <img id="user-profile" src="{{ user.extenduser.user_profile }}" width="200" height="200">
                        <input id="imgInput" name="upload_file" type="file" accept=".jpg, .jpeg, .png" hidden>
                    </div>
                    클릭하여 이미지를 수정 할 수 있습니다.
                </div>
                <br>
                <br>
                <div class="input-card">
                    <label>Nick-Name </label>
                    <br>
                    <div class="input-area">
                        <input id="user-nick-name" type="text" value="{{ user.username }}">
                    </div>
                </div>

                <h3>
                    자격정보
                </h3>

                <table style="border:1px solid black;">
                    <thead>
                        <tr>
                            <th width="5%">No.</th>
                            <th width="29%">자격 증명</th>
                            <th width="29%">취득 일자</th>
                            <th width="29%">자격 번호</th>
                            <th width="8%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cert in certlist %}
                        <tr>
                            <td>   </td>
                            <td>
                                <input type="text" value="{{ cert.cert_name }}">
                            </td>

                            <td>
                                <input type="date">
                            </td>
                            <td>
                                <input type="text" value="{{ cert.cert_no }}">
                            </td>
                            <td style="text-align:center;">
                                <button type="button" class="btn waves-effect waves-light btn-rounded btn-danger sa-warning-not-delete" style="height:27px;  font-size:10px; background-color:grey; border-color:grey;">삭제</button>
                            </td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <br>
                <div class="apply-area">
                    <button  id="save">수정</button>
                </div>

            </div>
        </div>



        <script src="{% static 'js/cookie.js' %}"></script>
        <script src="{% static 'js/mydata.js' %}"></script>
    </body>
</html>


