<html>
    <head>
        <title>임재성 서버 테스트입니다.</title>
        {% load static %}

        <link href="{% static 'css/custom.css' %}" rel="stylesheet">
        <link href="{% static 'css/custom2.css' %}" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>

    </head>
    <body>
        <div>메인 페이지 입니다</div>


        <br>
        <img src="/upload_files/abc.jpg" width="500" height="400">
        <br>
        <input id="ingredient_file" name="upload_file" type="file" accept=".jpg, .jpeg, .png">
        <a href="/upload_files/abc.jpg" download>
            <button id="file_download">이미지 다운로드</button>
        </a>

        <br><br>

        <div style="width:800px; text-align:right;">
            <button  id="upload">저장</button>
        </div>
        <br><br><br><br><br>

        <button id="move">
            second page
        </button>





        <script>

        function getCookie(c_name)
        {
            if (document.cookie.length > 0)
            {
                c_start = document.cookie.indexOf(c_name + "=");
                if (c_start != -1)
                {
                    c_start = c_start + c_name.length + 1;
                    c_end = document.cookie.indexOf(";", c_start);
                    if (c_end == -1) c_end = document.cookie.length;
                    return unescape(document.cookie.substring(c_start,c_end));
                }
            }
            return "";
         }

        $("#file_download").on("click", function (e) {

            $.ajax({
                type: 'GET',
                <!--url: '/test/filedownload/',-->
                <!---->
                url:'/test/filedownload/',
                cache:false,
                xhr:function(){
                    // Seems like the only way to get access to the xhr object
                    var xhr = new XMLHttpRequest();
                    xhr.responseType= 'blob'
                    return xhr;
                },
                success: function(response){

                    var img = document.getElementById('img');
                    var img_a = document.getElementById('img_a');
                    var url = window.URL || window.webkitURL;
                    img.src = url.createObjectURL(response);

                    alert(url.createObjectURL(response));


                    alert("파일 Download Success!!");
                },
                error: function(request, status, error){
                    alert("system error!!")
                    console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                },
            });
        });

        $("#upload").on("click", function (e) {
            var upload_file = $("#ingredient_file")[0].files[0];
            var formData = new FormData();

            formData.append("upload_file", upload_file, upload_file.names);
            formData.append("upload_file", true);

            $.ajax({
                headers: { "X-CSRFToken": getCookie("csrftoken") },
                async: true,
                type: 'POST',
                url: '/test/main/',
                contentType: false,
                processData: false,
                data: formData,
                success: function(response){
                    alert("파일 업로드 Success!!");
                },
                error: function(request, status, error){
                    alert("system error!!")
                    console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                },
            });

        });




        $("#move").click(function(e){
            e.preventDefault();
            $.ajax({
                type: 'GET',
                url: '/test/second/',
                success: function(response){
                    location.href = "/test/second/";
                    alert("리다이렉트 성공!!");

                },
                error: function(request, status, error){
                    alert("system error!!")
                    console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                },
            });
        });

        </script>

    </body>
</html>


